<div class="col-md-12 col-sm-12 col-xs-12 container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="jumbotron" id="demo">
            <div class="container">
                <div class="form-group">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="tableTextCenter tablehead">
                                <th>Serial No </th>
                                <th>FirstName</th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tableTextCenter">
                                <td>{{$index+1}}</td>
                                <td>{{details.first_name || 'empty'}}</td>
                                <td>{{details.username}}</td>
                                <td>{{details.email || 'empty'}}</td>
                                <td>{{details.last_name || 0}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button type="button" class="btn btn-primary" class="form-control" ng-click="logout(details)">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.tablehead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

</style>
