<div class="container">
    <div class="jumbotron" id="demo">
        <!--  <div class="col-md-12 text-center"> -->
        <h2>Login Form</h2>
        <div class="container">
            <div class="form-group">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter User" name="uname" dont-begin-with-zero="mobilenumber" minlength="10" maxlength="10" class="form-control" required ng-model="data.username">
            </div>
            <div class="form-group">
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" class="form-control" required ng-model="data.password">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success" class="form-control" ng-click="Login(data)">Login</button>
               
                <a href="#singup" type="button" class="btn btn-primary" class="form-control">SignUp</a>
               
            </div>
        

        </div>
    </div>
</div>
