<!-- <div class="col-md-12 col-sm-12 col-xs-12 container">
    <div class="col-md-12 col-sm-12 col-xs-12"> -->
<!--         <div class="row"> -->
<div class="container">
    <div class="jumbotron" id="demo">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <div class="form-group">
            <label for="issueInput"><b>Name</b></label>
            <input type="text" class="form-control" placeholder="Enter the Name" name="name" required ng-model="data.first_name">
        </div>
        <div class="form-group">
            <label for="email"><b>Email Address</b></label>
            <input type="text" class="form-control" placeholder="Enter Email" name="email" required ng-model="data.email">
        </div>
        <div class="form-group">
            <label for="issueInput"><b>Mobile</b></label>
            <input type="text" class="form-control" placeholder="Enter Password" name="Mobile" dont-begin-with-zero="mobilenumber" minlength="10" maxlength="10" required ng-model="data.username">
        </div>
        <div class="form-group">
            <label for="issueInput"><b>Address</b></label>
            <input type="text" class="form-control" placeholder="Enter Address" name="Address" ng-model="data.last_name">
        </div>
         <div class="form-group">
            <label for="issueInput"><b>Password</b></label>
            <input type="Password" class="form-control" placeholder="Enter Password" name="password" ng-model="data.password">
        </div>
        <div>
            <button type="button" class="btn btn-success" ng-click="submit1(data)">Submit</button>
            
        </div>
    </div>
</div>